fastapi 
uvicorn
langchain-deepseek==0.1.4
langchain-tavily
langgraph==0.6.11
langchain==0.3.27
python-dotenv
langchain-core==0.3.83
langchain-huggingface==0.3.1
qdrant-client
langchain-qdrant==0.2.1
pydantic
langchain-text-splitters==0.3.11
pdf2image
pytesseract
python-multipart
langchain-ollama==0.3.10